<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.avvero.blauncher.core.LaunchDelegate"
            id="com.avvero.blauncher.core.launchConfiguration"
            modes="run,debug"
            name="Bunch launcher">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.avvero.blauncher.core.launchConfiguration"
            icon="images/Rotate1.ico"
            id="com.avvero.blauncher.core.launchConfigurationTypeImage2">
      </launchConfigurationTypeImage>
   </extension>
   <!-- org.eclipse.debug.ui.launchShortcuts will not be here, because it has no sense. 
        This configuration is for launching other configuration, not for projects.
        My vassal's vassal is not my vassal. -->   
</plugin>
