<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.avvero.blauncher.ui.tabs.ConfigurationTabGroup"
            id="com.avvero.blauncher.ui.launchConfigurationTabGroup1"
            type="com.avvero.blauncher.core.launchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <!-- org.eclipse.debug.ui.launchShortcuts will not be here, because it has no sense. 
        This configuration is for launching other configuration, not for projects.
        My vassal's vassal is not my vassal. -->   
</plugin>
